{{ define "main" }}
	<h1 class="search-title">{{ .Title }}</h1>

	<div id="search-box-container">
		<input 
			type="text" 
			id="searchBox" 
			placeholder="{{ .Site.Params.search.placeholder }}" 
			autocomplete="off" 
		/>
	</div>
	
	<div class="search-content">
		{{ .Content}}
	</div>

	<ul 
		class="search-results"
		id="searchResults"
	></ul>

	<div class="reserve-blank"></div>

	<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
	<script src="/js/search.js"></script>
{{ end }}