<div class="footer-container">
    <hr class="footer-topborder">

    <div class="footer-content">
		<div class="footer-left">
			<div class="contact">
			{{ if .Site.Params.footer.contact }}
				<p>
					{{ T "footer.contact" }}
					<a href="mailto:{{ .Site.Params.footer.contact }}">{{ .Site.Params.footer.contact }}</a> 
				</p>
			{{ end }}
			</div>

			<div class="author-info">
				<p style="margin-top: 30px;">{{ T "footer.author" }} {{ .Site.Params.author }}</p>
				<img class="right-author-img" src="{{ .Site.Params.footer.authorImage | relURL }}" alt="{{ .Site.Params.author }}" />
			</div>
		</div>
		
		<div class="footer-mid">
			<div class="footer-feat">
				{{ partial "features.html" (dict "all" true) }}
			</div>
		</div>

		<div class="footer-right">
			<div class="copyright">
				{{ if .Site.Params.footer.startYear }}
					<p> © {{ .Site.Params.footer.startYear }}-{{ now.Year }} {{ .Site.Params.author}}{{ T "footer.copyright" }} </p>
				{{ else }}
					<p> © {{ now.Year }} {{ .Site.Params.author}}{{ T "footer.copyright" }}</p>
				{{ end }}
			</div>
			<p class="footer-lastupdate">{{ T "footer.lastupdate" }} {{ now.Format "2006-01-02" }}</p>

		</div>

    </div>



</hr>

