.categories {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
.cat-ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.cat-ul li {
	margin-left: 0.8rem;
	margin-bottom: 1rem;
	padding: 1px;
}
.cat-a {
	padding: 5px 10px;
	border-radius: 5px;
}
.cat-a:hover {
	text-decoration: none;
	font-weight: bold;
}

.taxonomy-title {
	display: block;
	text-align: center;
	padding: 0 20px;
	margin: 50px auto 60px auto;
	max-width: 1400px;
}
.cat-title {
	display: inline;
	padding: 5px 10px;
	border-radius: 5px;
}
