// header + menu
.header-container {
	display: flex; /* 啟用 Flexbox 布局 */
	position: relative;
	justify-content: space-between; /* 使元素兩端對齊，並在它們之間創建空隙 */
	align-items: center; /* 垂直居中對齊元素 */
	// width: auto;
	max-width: 1200px;
	margin: 0 auto; // 置中
	padding: 0 30px;
}

.header-site-title {
	color: #000; /* 文字顏色 */
	font-weight: bold; /* 文字加粗 */
	font-size: 28px;
}

.header-site-title:hover {
	color: #494949; /* 滑鼠懸停時的文字顏色 */
	text-decoration: none;
}

.menu {
	display: flex;
	flex-direction: row; /* 水平排列 */
	align-items: center;
}
.menu-list {
	display: flex; /* 使用 Flexbox 讓列表橫向排列 */
	list-style: none; /* 移除項目符號 */
	margin: 0; /* 移除外邊距 */
	padding: 0; /* 移除內邊距 */
	width: auto;
}

.menu-list li {
	margin-left: 40px; /* 設定列表項目之間的間隔 */
}

.menu-list li a {
	color: #000; /* 文字顏色 */
	font-weight: bold; /* 文字加粗 */
}
.menu-list li a:hover {
	color: #6d6d6d; /* 滑鼠懸停時的文字顏色 */
	text-decoration: underline;
}
.menu-toggle {
	/* 一般時候（螢幕大），不顯示 */
	display: none;
}
.toggle {
	font-size: 16px;
	font-weight: bold;
	border: none;
	background: none;
	cursor: pointer;
	margin-left: 30px;
}
.toggle:hover {
	color: #ffffff; /* 滑鼠懸停時的文字顏色 */
}
.toggle-place1 {
	display: block !important;
}
.toggle-place2 {
	display: none !important;
}

@media screen and (max-width: 768px) {
	.menu {
		display: flex; /* 默認隱藏 */
		position: absolute;
		flex-direction: column; /* 垂直排列 */
		justify-content: center; /* 垂直居中 */
		align-items: center; /* 水平居中 */

		top: calc(100% + 5px);
		right: 0;
		left: 0; /* 讓容器占滿寬度 */

		padding: 1rem;
		border: 1px solid #ffffff00;

		background-color: #ffffff79;
		z-index: 1000;

		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s; /* 過渡效果 */
		opacity: 0;
	}
	.menu.open {
		display: flex;
		align-items: center;

		visibility: visible;
		opacity: 1;
	}
	.menu-list {
		display: flex;
		flex-direction: column; /* 垂直排列列表項 */
		list-style: none; /* 移除項目符號 */

		padding: 0;
		margin: 0;

		gap: 1.5rem; /* 列表項之間的間距 */
		text-align: center; /* 列表文字置中 */
	}
	.menu-list li {
		margin-left: 0; /* 設定列表項目之間的間隔 */
	}
	.menu-toggle {
		display: block;
		font-size: 1.5rem;
		border: none;
		background: none;
		cursor: pointer;
		transition: transform 0.3s ease; /* 添加旋轉動畫 */
	}
	.menu-toggle.open {
		transform: rotate(90deg); /* 逆時針旋轉 90 度 */
	}
	.toggle-place1 {
		display: none !important;
	}
	.toggle-place2 {
		display: block !important;
		margin: 0 20px;
	}
	.media-block {
		display: flex;
		flex-direction: row;
	}
}



